#carsTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  float: right;
  margin-right: 100px;
}



#carsTable td, #carsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

 #carsTable tr:nth-child(1) {
   color: white;
   background-color: black;
 }

#carsTable tr {background-color: white;}

#carsTable tr:hover {background-color: #ddd;}

#carsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
